
<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <div class="text-layout">

  <h1>PipesApp</h1>
  <button pButton  class="p-button-help" label="Hola BB" icon="pi pi-check" iconPos="right"></button>


  <p-card header="Simple Card" >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
  </p-card>
</div>  -->
